.ordenMesero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 100vh;
  width: 100vw;
  background: white;
  z-index: 0;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding: 0px 80px;
  background-color: transparent;
  padding-bottom: 0;
  border-bottom: 2px solid black;
}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 40px;
}

.main__title,
.current-time {
  font-family: 'Biryani', sans-serif;
  margin: 0;
}

.main__title {
  color: black;
  font-weight: bold;
  font-size: 30px;
}

.current-time {
  color: black;
  font-size: 20px;
}

.main__logo {
  height: 100px;
  margin-bottom: 20px;
}

.employee-info {
  display: flex;
  gap: 70px;
  text-align: right;
  font-family: 'Biryani', sans-serif;
  color: black;
  margin-top: 30px;
}

.name__empleado,
.rol__empleado {
  margin: 0;
  font-size: 1rem;
  padding: 0;
  margin-top: -10%;
}
.name__empleado span,
.rol__empleado span {
  font-weight: bold;
}

.button__orden {
  min-width: 200px;
  min-height: 30px;
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.footer_orden {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 200px;
  background-color: #c38154;
  width: 80%;
  margin-top: 110px;
}

.page__message {
  font-family: 'Biryani', sans-serif;
  color: white;
  font-weight: bold;
}

.search-label {
  font-family: 'Biryani', sans-serif;
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
  margin-top: 30px;
}

.search__food__orden {
  position: relative;
  margin-top: 120px;
  width: 300px;
  margin-bottom: 1%;
}

.search-input-orden {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-input-orden:focus {
  border-color: #c38154;
  outline: none;
}

.search-results-orden {
  font-family: 'Biryani', sans-serif;
  color: black;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #c38154;
  border-top: none;
  max-height: 150px;
  overflow-y: auto;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.search-item-orden {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.search-item-orden:last-child {
  border-bottom: none;
}

.search-item-orden:hover {
  background-color: #f0f0f0;
}
