.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 190px;
  margin: 16px;
  flex: 0 0 auto;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-image {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 150px;
}

.card-info {
  padding: 8px;
  text-align: center;
}

.card-time {
  font-family: 'Biryani', sans-serif;
  color: black;
  font-size: 0.85rem;
}

.card-title {
  font-family: 'Biryani', sans-serif;
  color: black;
  margin: 8px 0;
}

.card-button {
  background-color: #f9e0bb;
  font-family: 'Biryani', sans-serif;
  color: black;
  border: none;
  padding: 8px 16px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

.card-button:hover {
  background-color: #c38154;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
