.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group label {
  margin-bottom: 5px;
  font-family: 'Biryani', sans-serif;
  color: black;
  font-size: 20px;
}

.input-group input {
  border: 2px solid #884a39;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  background-color: white;
  font-family: 'Biryani', sans-serif;
  color: black;
  font-size: 15px;
  align-items: center;
}

.input-group input:focus {
  border-color: #c38154;
  outline: none;
}

/* Estilos para cambiar el fondo y el texto durante el autofill */
.input-group input:-webkit-autofill,
.input-group input:-webkit-autofill:hover,
.input-group input:-webkit-autofill:focus,
.input-group input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #884a39 !important;
}

/* Para otros navegadores que soportan autofill */
.input-group input:autofill,
.input-group input:autofill:hover,
.input-group input:autofill:focus,
.input-group input:autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  color: black !important;
}
