.radio-button-container {
  display: inline-flex; /* Cambiado de inline-block a inline-flex */
  align-items: center; /* Asegura que el texto y el botón estén alineados verticalmente */
  position: relative;
  padding-left: 40px; /* Ajusta el padding para que el texto no se superponga al botón */
  margin: 0 10px;
  cursor: pointer;
  font-family: 'Biryani', sans-serif;
  color: black;
  font-size: 16px;
  border-radius: 20px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.radio-button-container input[type='radio'] {
  display: none;
}

.radio-button-container .custom-radio-button {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  transition: all 0.3s;
  border: 2px solid #c38154;
}

.radio-button-container input[type='radio']:checked ~ .custom-radio-button {
  background-color: #c38154; /* Color cuando está seleccionado */
}
