.input-group select {
  font-size: 16px;
  background-color: white;
  font-family: 'Biryani', sans-serif;
  color: black;
  outline: none;
  margin: 0 auto;
  min-width: 430px;
  height: auto;
  max-height: 200px;
}

.input-group label {
  margin: 0 auto;
  min-width: 430px;
}

/* Cambia el color de fondo y de texto de la opción seleccionada */
.input-group select option:checked,
.input-group select option:hover {
  background-color: #c38154; /* tu color de fondo deseado */
  color: white; /* tu color de texto deseado */
}
